*{
    margin: 0;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.nav-items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.nav-items li{
    margin: 15px;
}

.nav-items li a{
    text-decoration: none;
    font-size: 24px;
}